.avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
}

.avatar-lg {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #2a354f;
}

.text-gray,
.text-gray:hover {
    color: #869ab8 !important;
}

.section {
    position: relative;
    padding: 50px 0px;
}

.tooltip {
    display: block !important;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
}

.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
    margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
    border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}

a, a:hover {
    color: #4a6f8a;
    text-decoration: none;
}

ul li>a.color-active {
    color: #ea2c5a !important;
}

nav a.color-active > i {
    color: #ea2c5a !important;
}

.input-group {
    border-radius: .45rem;
    transition: all .2s ease;
}

.form-control:focus {
    box-shadow: none;
}

.icon-shape {
    width: 2.25rem;
    height: 2.25rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .45rem;
}
.icon {
    text-align: center;
    display: inline-flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.icon-shape-secondary {
    color: #c33c54 !important;
    background-color: rgba(195,60,84,.1);
}

.icon-shape-success {
    color: #208163 !important;
    background-color: rgba(32,129,99,.1);
}

.icon-shape-dark {
    color: #0d1b48 !important;
    background-color: rgba(13,27,72,.1);
}

.card-footer {
    background-color: transparent;
    border-top: .0625rem solid rgba(239,242,245,.05);
}

.text-muted {
    color: #869ab8!important;
}

.b-playlist .v-img {
    border-radius: 2px;
    position: relative;
}

.b-playlist .v-img img {
    border: solid 2px #fbfdfe;
    width: 100%;
}

.b-playlist .v-img a {
    display: inline-block;
    position: relative;
    z-index: 3;
    width: 100%;
}

.b-playlist .v-img .l-1 {
    z-index: 1;
    position: absolute;
    width: 92%;
    left: 4%;
}

.b-playlist .v-img .l-2 {
    z-index: 2;
    position: absolute;
    margin-top: 11px;
    width: 96%;
    left: 2%;
}

.b-playlist .v-img .l-3 {
    z-index: 3;
    margin-top: 22px;
}

.b-playlist .v-img .items {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #373933;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 9px 1px 9px;
    line-height: 14px;
    font-weight: 500;
    z-index: 5;
}

.v-add {
    position: absolute;
    border-radius: 2px;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 16px;
    padding: 6px;
    line-height: 14px;
    font-weight: 500;
    z-index: 5;
}

.v-add:hover {
    cursor: pointer;
}

.v-add.left {
    top: 8px;
    left: 8px;
}

.v-img .v-add.left {
    top: 30px;
}

.v-add.right {
    top: 8px;
    right: 8px;
}

.v-img .v-add.right {
    top: 30px;
}

.v-add.right .dropdown-toggle::after {
    display: none;
}

.v-add.right button.dropdown-toggle {
    padding: 0;
    line-height: 0px;
    color: #869ab8;
}

.bg-soft {
    background-color: #f5f9fe !important;
}

.bg-main {
    background-color: #F4F8FB !important;
}

.nav-scroller nav a>i {
    color: #637076;
}

.star i.fa-star:hover {
    cursor: pointer; 
}

.page .card .card-body a>.h6:hover {
    color: #ea2c5a !important
}

.mt-n6, .my-n6 {
    margin-top: -5rem!important;
}
.card .profile-thumbnail {
    width: 10rem;
    height: 10rem;
}

.bg-green {
    background-color: #5fd79a!important;
}

.header-image h1 {
    font-weight: 200;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 24px;
    letter-spacing: 2px;
}

.icon-facebook span {
    color: #3b5999;
}

.icon-twitter span {
    color: #1da1f2;
}

.icon-slack span {
    color: #3aaf85;
}

.icon-dribbble span {
    color: #ea4c89;
}

.icon-google span {
    color:#db4337;
}

li.color-active a {
    color: #ea2c5a !important;
}

.order-2 {
    order: 2;
}

.mh-10 {
    max-height: 10rem;
}

.text-heart {
    color: #f6659a !important
}

span.text-underline {
    text-decoration: none;
    position: relative;
}

span.text-underline:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-bottom: 1px solid #b8b8b8;
}

.bb-red {
    border-bottom: 3px solid;
}

.page-title {
    color: #00c4ff !important;
    text-decoration: underline;
}

.btn-custom {
    border: 0px solid transparent;
    border-radius: .25rem;
    border-bottom: 3px solid;
}

.btn-danger {
    color: #fff !important;
    background-color: #fa5252;
    border-color: #e11a1a;
}

.btn-primary {
    color: #fff !important;
    background-color: #1d5ddb;
    border-color: #2659be;
}

.btn-success {
    color: #fff !important;
    background-color: #50c675;
    border-color: #48a942;
}

.btn-light {
    color: #212529;
    background-color: #e1e1e1;
    border-color: #c1c5c8;
}

.btn-warning {
    color: #fff;
    background-color: #f5b759;
    border-color: #eba945;
}

.btn-orange {
    color: #fff !important;
    background-color: #F3B63A;
    border-color: #dfa42d;
}

.btn-pink {
    color: #fff !important;
    background-color: #ee5586;
    border-color: #df3e72;
}

.btn-danger:hover {
    color: #fff;
    background-color: #df3b3b;
    text-decoration: none;
}

.btn-success:hover {
    color: #fff;
    background-color: #1c9943;
    text-decoration: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0c49c2;
    text-decoration: none;
}

.btn-light:hover {
    background-color: #cacaca;
    text-decoration: none;
}

.btn-warning:hover {
    color: #fff;
    background-color: #eda83e;
}

.btn-orange:hover {
    color: #fff;
    background-color: #edab25;
}

.btn-pink:hover {
    color: #fff;
    background-color: #d33769;
}

.min-vh-100 {
    min-height: 100vh!important;
}

.bg-login {
    background-color: #edf8ff;
}

.fmxw-500 {
    max-width: 500px!important; 
}

.bg-nav {
    background: linear-gradient(89deg,#259f94 3%,#1da767 98%);
}

.bg-nav a {
    color: #fff !important;
}

.bg-nav ul li>a.color-active {
    color: #dddddd !important;
}

.bg-nav a.dropdown-item {
    color: #212529 !important
}

.animate-down-1,
.animate-up-1,
.animate-down-2,
.animate-up-2, {
    transition: all .2s ease;
}

.animate-up-1:hover {
    transform:translate(0, -1px);
}

.animate-down-1:hover {
    transform:translate(0, 1px);
}

.animate-up-2:hover {
    transform:translate(0, -2px);
}

.animate-down-2:hover {
    transform:translate(0, 2px);
}

.input-group .form-control:not(:first-child) {
    border-left: 0;
    padding-left: 0;
}

.input-group-text {
    font-size: .875rem;
    padding: .6rem .75rem;
    background-color: #fff;
    border: .0625rem solid #eaedf2;
    border-radius: .5rem;
    color: #506690;
}

.form-control {
    font-weight: 300;
    border: .0625rem solid #eaedf2;
    border-radius: .5rem;
    padding: .6rem .75rem;
}

.badge-facebook {
    color: #fff;
    background-color: #3b5999;
    border-color: #3b5999;
}

.badge-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.badge-github {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.badge-twitter {
    color: #fff;
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.form-check-label label {
    font-weight: 400;
    line-height: 16px;
    color: #4a5073;
    font-size: .875rem;
    padding-top: 5px;
}

.bb-green {
    border-bottom: 2px solid #0c9177 !important;
}

p {
    color: #4a6f8a;
}

.custom-control-label {
    display: block;
}

.modal-body {
    max-width: 100%; 
    width: auto !important; 
    display: inline-block; 
}

#post-modal {
    text-align: center;
}

#post-modal .modal-dialog {
    min-width: 25%;
    max-width: 100%;
    display: inline-block;
}

#post-modal .modal-footer {
    justify-content: flex-start !important;
}

.breadcrumb-item+.breadcrumb-item:before {
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: .625rem;
    color: #66799e;
    margin-top: 5px;
}

.message-bottom {
    max-width: auto !important;
    max-width: 100%;
    width: auto !important;
    display: block;
    position: absolute;
    bottom: 2px;
    left: 5px;
    z-index: 15;
}

.card-body {
    z-index: 10;
}

.v-card {
    padding: 40px;
    padding-bottom: 20px;
    background: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-bottom: 30px;
    position: relative;
}

.v-card:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0px;
    bottom: 0px;
    background-image: linear-gradient(127deg, #21b6a1 0%, #46b879 91%);
}

.btn-rounded {
    border-radius: 50px;
    padding: 10px 30px;
}

.page {
    background-size: 100% auto;
    height: 200px;
}

.pattern.bottom {
    bottom: -10px;
    transform: rotate(180deg);
}
.pattern {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 1450px 160px;
    height: 0;
    padding: 0;
    padding-bottom: 140px;
}

.pb-7, .py-7 {
    padding-bottom: 7rem !important;
}