.avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
}

.avatar-lg {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #2a354f;
}

.text-gray,
.text-gray:hover {
    color: #869ab8 !important;
}

.page {
    padding-bottom: 12px;
    border-bottom: solid 1px #eceff0;
    padding-top: 28px;
}

.tooltip {
    display: block !important;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
}

.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
    margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
    border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}

a:not(.color-active) {
    color: #7e7e7e;
}

a, a:hover {
    color: #2e2e2e;
    text-decoration: none;
}

ul li>a.color-active {
    color: #ea2c5a !important;
}

.input-group {
    border-radius: .45rem;
    transition: all .2s ease;
}

.form-control:focus {
    box-shadow: none;
}

.icon-shape {
    width: 2.25rem;
    height: 2.25rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .45rem;
}
.icon {
    text-align: center;
    display: inline-flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.icon-shape-secondary {
    color: #c33c54 !important;
    background-color: rgba(195,60,84,.1);
}

.icon-shape-success {
    color: #208163 !important;
    background-color: rgba(32,129,99,.1);
}

.icon-shape-dark {
    color: #0d1b48 !important;
    background-color: rgba(13,27,72,.1);
}

.card-footer {
    background-color: transparent;
    border-top: .0625rem solid rgba(239,242,245,.05);
}

.text-muted {
    color: #869ab8!important;
}

.b-playlist .v-img {
    border-radius: 2px;
    position: relative;
}

.b-playlist .v-img img {
    border: solid 2px #fbfdfe;
    width: 100%;
}

.b-playlist .v-img a {
    display: inline-block;
    position: relative;
    z-index: 3;
    width: 100%;
}

.b-playlist .v-img .l-1 {
    z-index: 1;
    position: absolute;
    width: 92%;
    left: 4%;
}

.b-playlist .v-img .l-2 {
    z-index: 2;
    position: absolute;
    margin-top: 11px;
    width: 96%;
    left: 2%;
}

.b-playlist .v-img .l-3 {
    z-index: 3;
    margin-top: 22px;
}

.b-playlist .v-img .items {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #373933;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 9px 1px 9px;
    line-height: 14px;
    font-weight: 500;
    z-index: 5;
}

.v-add {
    position: absolute;
    border-radius: 2px;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 16px;
    padding: 6px;
    line-height: 14px;
    font-weight: 500;
    z-index: 5;
}

.v-add:hover {
    cursor: pointer;
}

.v-add.left {
    top: 8px;
    left: 8px;
}

.v-img .v-add.left {
    top: 30px;
}

.v-add.right {
    top: 8px;
    right: 8px;
}

.v-img .v-add.right {
    top: 30px;
}

.v-add.right .dropdown-toggle::after {
    display: none;
}

.v-add.right button.dropdown-toggle {
    padding: 0;
    line-height: 0px;
    color: #869ab8;
}

.bg-soft {
    background-color: #f5f9fe !important;
}

.bg-main {
    background-color: #fbfdfe !important;
}

.nav-scroller nav a>i {
    color: #637076;
}

.star i.fa-star:hover {
    cursor: pointer; 
}

.page .card .card-body a>.h6:hover {
    color: #ea2c5a !important
}

.mt-n6, .my-n6 {
    margin-top: -5rem!important;
}
.card .profile-thumbnail {
    width: 10rem;
    height: 10rem;
}

.bg-green {
    background-color: #5fd79a!important;
}

.header-image h1 {
    font-weight: 200;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 24px;
    letter-spacing: 2px;
}

.icon-facebook span {
    color: #3b5999;
}

.icon-twitter span {
    color: #1da1f2;
}

.icon-slack span {
    color: #3aaf85;
}

.icon-dribbble span {
    color: #ea4c89;
}

.icon-google span {
    color:#db4337;
}

li.color-active a {
    color: #ea2c5a !important;
}

.order-2 {
    order: 2;
}

.mh-10 {
    max-height: 10rem;
}

.text-heart {
    color: #f6659a !important
}

span.text-underline {
    text-decoration: none;
    position: relative;
}

span.text-underline:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-bottom: 1px solid #b8b8b8;
}